{% extends 'html/base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="row">
		<div class="card col-md-4 shadow-lg border success mx-2 h-100">
		<div class="card-body">
			<h3 class="bg-warning text-center text-light p-3 border rounded">Register</h3>
			<form method="post">
				{% csrf_token %}
			{% for i in g %}
				{{i}}
			{% endfor %}
			<input type="submit" value="Create" class="btn btn-outline-success my-2 btn-block">
			</form>
		</div>
	</div>
		<div class="card col-md">
			<div class="card-body">
				<h3>User Details</h3>
				<table class="table table-borderless table-hover">
					<tr class="bg-dark text-light">
						<th>s.no</th>
						<th>username</th>
						<th>Actions</th>
					</tr>
					{% for j in q %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{j}}</td>
						<td><a href="#" class="btn btn-outline-primary mx-1">Edit</a><a href="{% url 'uvw' j.id %}" class="btn btn-outline-warning mx-1">View</a><a href="#" class="btn btn-outline-danger mx-1">Delete</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>	
		</div>
	</div>
</div>
{% endblock %}

